src/test/resources/test.dtd

<!ELEMENT dataset (
    book*,
    book_user*,
    cd*,
    cd_user*,
    movie*,
    movie_user*,
    user*)>

<!ELEMENT book EMPTY>
<!ATTLIST book
    BOOK_ID CDATA #REQUIRED
    AUTHOR_NAME CDATA #IMPLIED
    EDITOR CDATA #REQUIRED
    RELEASE_DATE CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    PICTURE CDATA #IMPLIED
>

<!ELEMENT book_user EMPTY>
<!ATTLIST book_user
    USER_ID CDATA #REQUIRED
    BOOK_ID CDATA #REQUIRED
>

<!ELEMENT cd EMPTY>
<!ATTLIST cd
    CD_ID CDATA #REQUIRED
    AUTHOR_NAME CDATA #IMPLIED
    KIND CDATA #REQUIRED
    RELEASE_DATE CDATA #REQUIRED
    TITLE CDATA #REQUIRED
    PICTURE CDATA #IMPLIED
>

<!ELEMENT cd_user EMPTY>
<!ATTLIST cd_user
    USER_ID CDATA #REQUIRED
    CD_ID CDATA #REQUIRED
>

<!ELEMENT movie EMPTY>
<!ATTLIST movie
    MOVIE_ID CDATA #REQUIRED
    DIRECTOR_NAME CDATA #IMPLIED
    OWNED_DVD CDATA #REQUIRED
    RELEASE_DATE CDATA #REQUIRED
    SEASON CDATA #IMPLIED
    TITLE CDATA #REQUIRED
    PICTURE CDATA #IMPLIED
>

<!ELEMENT movie_user EMPTY>
<!ATTLIST movie_user
    USER_ID CDATA #REQUIRED
    MOVIE_ID CDATA #REQUIRED
>

<!ELEMENT user EMPTY>
<!ATTLIST user
    USER_ID CDATA #REQUIRED
    FORNAME CDATA #REQUIRED
    NAME CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    REGISTRATION_DATE CDATA #REQUIRED
    AVATAR CDATA #IMPLIED
>

